<%= render_flash %>

<% form_tag :controller => 'sessions', :action => 'create', :redirect_to => params[:redirect_to] do %>
  <label for="username">Username</label>
  <br/>
  <%= text_field_tag :username %>
  <br/>
  <label for="username">Password</label>
  <br/>
  <%= password_field_tag :password %> 
  <br/>
  <%= submit_tag %>
<% end %>

<p>
<%= link_to "Register", new_user_url %>
</p>